:root {
    --back-color: black;
    --fore-color: lightgrey;
}

.theme * {
    font-family: 'PT Mono', monospace;
    font-size: 10pt;
    font-weight: 400;
    background-color: var(--back-color);
    color: var(--fore-color);
}

.ibm-pc {
    color: lightgrey;
    background-color: black;
}

.amstrad-cpc {
    color: yellow;
    background-color: blue;
}

.solaris {
    color: darkblue;
    background-color: antiquewhite;
}

#basics {
    float: left;
    position: relative;
}

#themes {
    float: right;
    position: relative;
}

#logo {
    clear: both;
}