.ibm-pc * {
    font-family: 'PT Mono', monospace;
    font-size: 10pt;
    font-weight: 400;
    color: greenyellow;
    background-color: black;
}

.amstrad-cpc * {
    font-family: 'PT Mono', monospace;
    font-size: 10pt;
    font-weight: 400;
    color: yellow;
    background-color: blue;
}

.solaris * {
    font-family: 'PT Mono', monospace;
    font-size: 10pt;
    font-weight: 400;
    color: darkblue;
    background-color: antiquewhite;
}

#basics {
    float: left;
    position: relative;
}

#themes {
    float: right;
    position: relative;
}

#logo {
    clear: both;
}